@font-face {
    font-family: "Basic Sans";
    src: url("../../assets/fontes/Basic-Sans-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Basic Sans";
    src: url("../../assets/fontes/Basic-Sans-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Bernhard Gothic URW";
    src: url("../../assets/fontes/BernhardGothicURW-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Bernhard Gothic URW";
    src: url("../../assets/fontes/BernhardGothicURW-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Bernhard Gothic URW";
    src: url("../../assets/fontes/BernhardGothicURW-Heavy.ttf");
    font-weight: 800;
}

.recursos1:hover {
    color: #ffa400;
    /* altere a cor conforme o efeito desejado */
    cursor: pointer;
    /* altere o cursor para indicar que é um link clicável */
}


/* Estilos para a caixa de texto */
.caixa-privacidade {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 400px;
    background-color: #f2f2f2;
    padding: 50px;
    overflow-y: scroll;
    text-align: justify;
    border-radius: 20px;
    z-index: 9999;
}

/* Estilos para o botão de fechar */
.fechar {
    position: sticky;
    top: 10px;
    right: 50px;
    cursor: pointer;
    left: 990px;
    display: inline;

}


































.logo-inatu-icon {
    width: 177px;
    height: 96px;
    flex-shrink: 0;
    object-fit: cover;
}

.recursos1 {
    margin: 0;
    position: relative;
    font-size: var(--body-text-medium-size);
    line-height: 24px;
    font-weight: 400;
    font-family: var(--body-text-medium);
    color: var(--grayscale-000);
    text-align: center;
}

.recursos {
    text-decoration: none;
    width: 104px;
    height: 40px;
    flex-shrink: 0;
    justify-content: center;
    cursor: pointer;
}

.links-txt,
.recursos,
.sobre-ns {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sobre-ns {
    width: 104px;
    height: 40px;
    flex-shrink: 0;
    justify-content: center;
}

.links-txt {
    justify-content: flex-end;
    gap: var(--gap-13xl);
}

.entrar {
    position: relative;
    font-size: var(--body-text-large-size);
    line-height: 24px;
    font-family: var(--body-text-medium);
    color: var(--grayscale-000);
    text-align: center;
}

.cta-1 {
    cursor: pointer;
    border: 1px solid var(--grayscale-000);
    padding: var(--padding-5xs) var(--padding-21xl);
    background-color: transparent;
    border-radius: var(--br-base);
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.cta-1:hover {
    width: auto;
    height: auto;
}

.cta-1,
.head,
.links {
    display: flex;
    flex-direction: row;
}

.links {
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-13xl);
}

.head {
    align-self: stretch;
    align-items: flex-start;
    justify-content: space-between;
}

.plataforma-inat {
    margin: 0;
}

.plataforma-inat-amaznia-container {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 64px;
    font-weight: 800;
    font-family: inherit;
    display: inline-block;
    width: 464px;
}

.vector-icon {
    position: absolute;
    margin: 0 !important;
    top: -19px;
    left: -26px;
    width: 357px;
    height: 28px;
    flex-shrink: 0;
    z-index: 0;
}

.line,
.title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.line {
    width: 384px;
    height: 8px;
    flex-shrink: 0;
    flex-direction: row;
    position: relative;
}

.title {
    align-self: stretch;
    flex-direction: column;
    gap: var(--gap-5xs);
}

.main-txt,
.o-sistema-de {
    align-self: stretch;
    flex: 1;
}

.o-sistema-de {
    margin: 0;
    position: relative;
    font-size: var(--body-text-medium-size);
    line-height: 24px;
    font-family: var(--body-text-medium);
}

.main-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
}

.cta-2 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-base) 32px;
    background-color: var(--marrom-dourado);
    border-radius: var(--br-base);
    width: 162px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.cta-1:hover,
.cta-2:hover {
    background-color: var(--color-chocolate);
}

.text {
    align-self: stretch;
    width: 464px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.illus-icon {
    position: absolute;
    top: calc(50% - 233px);
    left: calc(50% - 186.33px);
    width: 373.16px;
    height: 466px;
}

.illus-rosivaldo {
    position: relative;
    width: 373px;
    height: 320px;
    flex-shrink: 0;
}

.main-content {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.somos-a-unio {
    position: relative;
    line-height: 24px;
}

.title1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.asaga-icon,
.rds-icon {
    position: relative;
    width: 160px;
    height: 72px;
    flex-shrink: 0;
}

.asaga-icon {
    object-fit: cover;
}

.assoc,
.associacoes,
.section-1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.assoc,
.section-1 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
    text-align: left;
    font-size: var(--body-text-large-size);
    color: var(--grayscale-900);
    font-family: var(--body-text-medium);
}

.section-1 {
    padding: var(--padding-21xl) var(--padding-93xl);
    gap: var(--gap-53xl);
    background-image: url(./public/section-1@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    font-size: var(--font-size-45xl);
    color: var(--grayscale-000);
    font-family: var(--header-subtitle);
}

.section-2-child {
    align-self: stretch;
    flex: 1;
    position: absolute;
    margin: 0 !important;
    height: 77.01%;
    width: 100%;
    top: 17.27%;
    right: 0;
    bottom: 5.72%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 0;
}

.todos-os-dados {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 40px;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    width: 493px;
    z-index: 1;
}

.bg-g2-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.vector-icon1 {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 40px;
    height: 40px;
}

.gears-icon {
    position: absolute;
    top: calc(50% - 53px);
    left: calc(50% - 72.33px);
    width: 144.56px;
    height: 105.92px;
}

.gesto-administrativa,
.illus-g1 {
    align-self: stretch;
    position: relative;
}

.illus-g1 {
    height: 184px;
    flex-shrink: 0;
}

.gesto-administrativa {
    margin: 0;
    font-size: inherit;
    line-height: 32px;
    font-weight: 300;
    font-family: inherit;
}

.funcionrios-maquinrio-e {
    align-self: stretch;
    position: relative;
    font-size: var(--body-text-medium-size);
    line-height: 24px;
    font-family: var(--body-text-medium);
    color: var(--grayscale-900);
}

.illus-g1-parent {
    align-self: stretch;
    width: 378.67px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.tabs-icon {
    position: absolute;
    top: calc(50% - 59px);
    left: calc(50% - 84.33px);
    width: 168.47px;
    height: 118.44px;
}

.cada-etapa-de {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: var(--body-text-medium-size);
    line-height: 24px;
    font-family: var(--body-text-medium);
    color: var(--grayscale-900);
}

.illus-g2-parent {
    align-self: stretch;
    width: 378.67px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xl);
}

.paper-icon {
    position: absolute;
    top: calc(50% - 71px);
    left: calc(50% - 60.33px);
    width: 120.96px;
    height: 141.75px;
}

.illus-g3-parent {
    width: 378.67px;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-5xl);
}

.content,
.illus-g3-parent,
.section-2 {
    align-self: stretch;
    display: flex;
    align-items: center;
}

.content {
    flex-direction: row;
    padding: 0 var(--padding-93xl);
    justify-content: center;
    gap: var(--gap-21xl);
    z-index: 2;
    font-size: var(--header-subtitle-size);
}

.section-2 {
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    gap: 96px;
    text-align: center;
    font-size: var(--header-title-size);
    color: var(--marrom-escuro);
    font-family: var(--header-subtitle);
}

.logo-inatu-icon1 {
    position: relative;
    width: 133px;
    height: 72px;
    flex-shrink: 0;
}

.somos-a-marca {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: var(--body-text-medium-size);
    line-height: 24px;
    font-family: var(--body-text-medium);
    color: var(--grayscale-000);
    text-align: left;
}

.txt {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-21xl);
}

.email-icon,
.insta-icon {
    position: relative;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.email-icon {
    height: 24.89px;
}

.fone-92-3347-7350 {
    margin: 0;
    position: relative;
    font-size: var(--body-text-medium-size);
    line-height: 24px;
    font-family: var(--body-text-medium);
    color: var(--grayscale-000);
    text-align: center;
}

.icons-fone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-35xl);
}

.entrar2 {
    margin: 0;
    position: relative;
    font-size: var(--body-text-large-size);
    line-height: 24px;
    font-weight: 700;
    font-family: var(--body-text-medium);
    color: var(--grayscale-000);
    text-align: center;
}

.cta-11,
.top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cta-11 {
    cursor: pointer;
    border: 1px solid var(--grayscale-000);
    padding: var(--padding-5xs) var(--padding-21xl);
    background-color: transparent;
    border-radius: var(--br-base);
    overflow: hidden;
    justify-content: center;
}

.cta-11:hover {
    background-color: var(--marrom-dourado);
}

.top {
    align-self: stretch;
    justify-content: space-between;
}

.cookies {
    cursor: pointer;

}

.privacidade {
    cursor: pointer;
}


.cookies,
.inatuamazoniacombr,
.privacidade {
    position: relative;
    font-size: var(--body-text-large-size);
    line-height: 24px;
    font-family: var(--body-text-medium);
    color: var(--grayscale-000);
    text-align: left;
}

.cookies,
.privacidade {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    font-size: var(--body-text-medium-size);
    color: var(--marrom-bege);
}

.privacidade {
    left: 124px;
}

.lgpd-links {
    position: relative;
    width: 213px;
    height: 24px;
    flex-shrink: 0;
}

.links1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.content1 {
    width: 488px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-13xl);
}


.idesam-logo-icon,
.ppbio-logo-icon {
    position: relative;
    width: 197.47px;
    height: 48px;
}

.ppbio-logo-icon {
    width: 171.69px;
    height: 88px;
}


.fundo-amazonia-icon,
.wwf-logo-icon {
    position: relative;
    width: 232.78px;
    height: 80px;
}

.wwf-logo-icon {
    width: 63px;
}

.realizao {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.apoio {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: var(--gap-21xl);
}

.div {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.footer,
.lp-desktop-teste {
    display: flex;
    align-items: center;
}

.footer {
    align-self: stretch;
    flex-direction: row;
    padding: var(--padding-61xl) var(--padding-93xl);
    justify-content: space-between;
    background-image: url(./public/footer@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.lp-desktop-teste {
    position: relative;
    background-color: var(--grayscale-000);
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    padding: 0 0 var(--padding-base);
    box-sizing: border-box;
    justify-content: flex-start;
    gap: 144px;
}

@media screen and (max-width: 1200px) {

    .head,
    .links {
        width: auto;
        height: auto;
    }

    .links {
        align-items: flex-end;
        justify-content: center;
    }

    .head {
        align-self: stretch;
    }

    .plataforma-inat-amaznia-container {
        font-size: var(--font-size-45xl);
        line-height: 64px;
        width: 472px;
    }

    .line {
        height: 8px;
        align-items: flex-start;
        justify-content: center;
        padding-top: 0;
        box-sizing: border-box;
    }

    .o-sistema-de {
        align-self: stretch;
        width: auto;
        flex: 1;
    }

    .main-txt {
        height: auto;
    }

    .assoc,
    .main-content,
    .text {
        width: 464px;
        align-self: stretch;
        height: auto;
    }

    .assoc,
    .main-content {
        width: auto;
    }

    .main-content {
        gap: var(--gap-0);
    }

    .assoc {
        align-items: center;
        justify-content: flex-start;
        padding-left: 0;
        padding-right: 0;
        box-sizing: border-box;
    }

    .illus-g1-parent {
        gap: var(--gap-5xl);
    }

    .illus-g1-parent,
    .illus-g2-parent,
    .illus-g3-parent {
        flex: 1;
        align-self: stretch;
        height: auto;
    }

    .illus-g3-parent {
        gap: var(--gap-5xl);
    }

    .content {
        height: auto;
        gap: var(--gap-0);
        align-items: center;
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
        box-sizing: border-box;
    }

    .section-2 {
        align-self: stretch;
        width: auto;
        flex: 1;
    }

    .txt {
        width: auto;
    }

    .top {
        align-self: stretch;
        height: auto;
        gap: var(--gap-35xl);
        justify-content: flex-start;
    }

    .content1,
    .links1,
    .top {
        width: auto;
        align-items: center;
    }

    .links1 {
        align-self: stretch;
        gap: var(--gap-53xl);
        justify-content: flex-start;
    }

    .content1 {
        height: auto;
        justify-content: center;
    }

    .content1,
    .realizao {
        gap: var(--gap-5xl);
    }

    .footer {
        flex-direction: column;
        gap: 80px;
        padding-left: var(--padding-93xl);
        box-sizing: border-box;
    }

    .lp-desktop-teste {
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 960px) {
    .logo-inatu-icon {
        width: 103px;
        height: 56px;
    }

    .links-txt {
        display: flex;
        gap: var(--gap-5xs);
    }

    .cta-1 {
        display: none;
    }

    .links {
        gap: var(--gap-base);
        align-items: flex-end;
        justify-content: center;
    }

    .head {
        align-self: stretch;
        width: auto;
        height: auto;
        gap: var(--gap-0);
        padding-left: 0;
        box-sizing: border-box;
    }

    .plataforma-inat-amaznia-container {
        font-size: 50px;
        line-height: 56px;
        align-self: stretch;
        width: auto;
        flex: 1;
    }

    .vector-icon {
        display: flex;
    }

    .o-sistema-de {
        width: 320px;
    }

    .main-txt,
    .text {
        width: auto;
        height: auto;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .text {
        width: 456px;
        align-self: stretch;
        gap: var(--gap-45xl);
        justify-content: center;
    }

    .illus-icon {
        width: 80%;
    }

    .assoc,
    .main-content,
    .section-1 {
        align-items: center;
        box-sizing: border-box;
    }

    .main-content {
        width: auto;
        height: auto;
        flex-direction: row;
        gap: var(--gap-0);
        justify-content: space-between;
        padding-right: var(--padding-61xl);
    }

    .assoc,
    .section-1 {
        justify-content: flex-start;
    }

    .assoc {
        gap: var(--gap-5xl);
        padding-left: 0;
        padding-right: 0;
    }

    .section-1 {
        height: auto;
        gap: var(--gap-53xl);
        padding-left: var(--padding-21xl);
        padding-right: var(--padding-21xl);
    }

    .section-2-child {
        height: 240px;
    }

    .todos-os-dados {
        width: 400px;
    }

    .illus-g1 {
        height: 240px;
    }

    .content,
    .illus-g1-parent,
    .illus-g2-parent,
    .illus-g3-parent {
        width: auto;
        height: auto;
        gap: var(--gap-base);
    }

    .content {
        align-self: stretch;
        gap: var(--gap-21xl);
        align-items: center;
        justify-content: center;
        padding: 0 var(--padding-21xl);
        box-sizing: border-box;
    }

    .content,
    .links1,
    .top {
        flex-direction: column;
    }

    .top {
        width: auto;
        height: auto;
        gap: var(--gap-5xl);
        align-items: center;
        justify-content: center;
    }

    .links1 {
        gap: var(--gap-base);
    }

    .content1,
    .footer {
        box-sizing: border-box;
    }

    .content1 {
        width: auto;
        gap: 48px;
        padding-left: 0;
        padding-right: 0;
    }

    .footer {
        flex-direction: column;
        padding-left: var(--padding-21xl);
        padding-right: var(--padding-21xl);
    }

    .lp-desktop-teste {
        height: auto;
    }
}

@media screen and (max-width: 420px) {

    .cta-1,
    .links {
        display: none;
    }

    .head,
    .links {
        align-items: center;
        justify-content: center;
    }

    .plataforma-inat-amaznia-container {
        align-self: stretch;
        width: auto;
        flex: 1;
    }

    .title {
        height: auto;
        align-items: center;
        justify-content: flex-start;
    }

    .main-txt,
    .o-sistema-de,
    .title {
        align-self: stretch;
        width: auto;
    }

    .main-txt {
        height: auto;
        align-items: center;
        justify-content: flex-start;
    }

    .cta-2,
    .text {
        height: auto;
        gap: var(--gap-base);
    }

    .text {
        width: auto;
        gap: var(--gap-45xl);
        align-items: center;
        justify-content: center;
        padding: 0 0 56px;
        box-sizing: border-box;
    }

    .illus-rosivaldo {
        width: 520px;
        height: 400px;
    }

    .main-content {
        align-self: stretch;
        width: auto;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        box-sizing: border-box;
    }

    .section-1 {
        align-items: center;
        justify-content: center;
        padding-left: var(--padding-base);
        padding-right: var(--padding-base);
        box-sizing: border-box;
    }

    .todos-os-dados {
        align-self: stretch;
        width: auto;
    }

    .content {
        padding-left: 0;
        padding-right: 0;
        box-sizing: border-box;
    }

    .section-2 {
        height: auto;
    }

    .somos-a-marca {
        align-self: stretch;
        height: auto;
        flex: unset;
    }

    .txt {
        width: auto;
        height: auto;
        flex-direction: column;
    }

    .icons-fone {
        gap: var(--gap-13xl);
    }

    .top {
        height: auto;
        flex-direction: column;
        gap: var(--gap-5xl);
        padding-top: var(--padding-21xl);
        padding-bottom: var(--padding-21xl);
        box-sizing: border-box;
    }

    .links1 {
        align-self: stretch;
        width: auto;
        height: auto;
        gap: var(--gap-base);
    }

    .content1 {
        gap: var(--gap-21xl);
        align-items: center;
        justify-content: flex-start;
        padding-left: 0;
        padding-right: 0;
        box-sizing: border-box;
    }

    .fundo-amazonia-icon {
        width: 280px;
    }

    .realizao {
        flex-direction: column;
        gap: 36px;
    }

    .div,
    .footer {
        align-items: center;
    }

    .footer {
        justify-content: center;
        padding-left: var(--padding-base);
        padding-right: var(--padding-base);
        box-sizing: border-box;
    }

    .footer,
    .lp-desktop-teste {
        height: auto;
    }

    .wwf-logo-icon {
        margin-top: 40px;
    }
}