@font-face {
    font-family: 'title';
    src: url('../../assets/fontes/BernhardGothicURW-Heavy.ttf');
}

@font-face {
    font-family: 'basic';
    src: url('../../assets/fontes/Basic-Sans-Bold.ttf');
}

h2,
p,
h3,
span {
    font-family: 'titulo', sans-serif;
}


#titulo {
    font-family: 'titulo', sans-serif;
    margin-top: 70px;
    margin-left: 50px;
}

.container-processos-pendentes {
    display: grid;
    grid-template-areas: "title title""col col";
    min-height: 50vh;
    min-width: 50vw;
    margin-top: 70px;
    margin-left: 60px;
    font-size: 15px;
    border-radius: 32px;
    border: 1px solid var(--grayscale-300, #CAC4C4);
    background: var(--grayscale-000, #FFF);
    justify-content: center;
    max-width: 85%;
    max-height: 60vh;
    background-image: url('../../assets/img/Default_brown_and_green_rainforest_flat_minimal_illustration_1_21b45312-ccf3-486b-859f-62e4ec2263d9_1\ 1.png');
    background-size: cover;
}

.remove-background{
    display: grid;
    grid-template-areas: "title title""col col";
    gap: 60px;
    min-height: 30vh;
    margin-top: 70px;
    margin-left: 60px;
    font-size: 15px;
    border-radius: 32px;
    border: 1px solid var(--grayscale-300, #CAC4C4);
    background: var(--grayscale-000, #FFF);
    justify-content: center;
    max-width: 90%;
    min-width: 50%;
    max-height: 80vh;
    background-image: none;
    background-color: bisque;
}

.title {
    grid-area: title;
    color: #653024;
    font-family: 'basic';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 24px;
    margin: 25px 0 auto 0;
    position: relative;
    left: -7%;
    text-align: center;
}

.box-text {
    display: grid;
    margin-top: 45px;
}

.titulo-1 {
    grid-area: title;
    justify-self: center;
    color: var(--marrom-escuro, #653024);
    text-shadow: 0px 4px 20px 0px #FFF;
    font-family: 'titulo';
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 0px;
}

.titulo-2 {
    grid-area: col;
    align-self: center;
    justify-self: center;
    color: var(--marrom-escuro, #653024);
    text-align: center;
    font-family: Basic Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    margin-top: 0px;
}

.processo-div {
    display: grid;
    grid-template-areas: "id texto btn";
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 40px 5px 40px 5px;
    gap: 24px;
    background: #FFFFFF;
    box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.07);
    border-radius: 32px;
    max-height: 40%;
}

.processo-item{
    font-family: 'title';
}

.processo-item-id {
    font-family: 'titulo', sans-serif;
    grid-area: id;
    font-family: 'Bernhard Gothic URW';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    color: #151313;
    display: flex;
    align-items: center;
}

.processo-item-id::after {
    content: url('../../assets/log/card\ 1\ icons.svg');
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 10px;
}

.processo-item-nome {
    font-family: 'titulo', sans-serif;
    grid-area: texto;
    display: flex;
    flex-direction: column;
    font-family: 'Basic Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
}

.processo-item-nome span {
    font-family: 'titulo', sans-serif;
    font-family: 'Bernhard Gothic URW';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
}

.processo-item-btn{
    grid-area: btn;
    border-radius: 16px;
    color: #FFFFFF;
    width: 195px;
    height: 30px;
}

.processo-item-btn:hover{
    cursor: pointer;
    margin-right: 0;
}

footer {
    grid-area: footer;
    margin-left: 50px;
}

footer img {
    width: 90%;
    margin-top: 40px;
}