.CardContinuarProcesso{
    display: flex;
}

.container-card-processo{
    width: 60%;
    align-self: center;
    margin-left: 45px;
}

.processoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 500px;
    margin-bottom: 25px;
    border-bottom: 1px solid var(--marrom-claro, #F6EBDF);
    background: var(--grayscale-000, #FFF);
    box-sizing: border-box;
}